# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

backend/.venv/
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/.env
backend/.ruff_cache/

# Django
backend/staticfiles/
backend/media/
backend/db.sqlite3

# Docker
.docker/

# Env
.env
.env.local
docker-infrastructure/.env

# Flutter
flutter-customer/.dart_tool/
flutter-customer/build/
flutter-customer/.flutter-plugins
flutter-customer/.flutter-plugins-dependencies
flutter-customer/.packages
flutter-customer/.idea/
flutter-customer/*.iml

flutter-driver/.dart_tool/
flutter-driver/build/
flutter-driver/.flutter-plugins
flutter-driver/.flutter-plugins-dependencies
flutter-driver/.packages
flutter-driver/.idea/
flutter-driver/*.iml

# IDE
.idea/
.vscode/
*.swp
.DS_Store
